<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Marks_init() hook (in hooks/Marks.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Marks-name-<%%VALUE(id)%%>" class="Marks-name"><%%VALUE(name)%%></td>
		<td id="Marks-unit-<%%VALUE(id)%%>" class="Marks-unit"><%%VALUE(unit)%%></td>
		<td id="Marks-student-<%%VALUE(id)%%>" class="Marks-student"><%%VALUE(student)%%></td>
		<td id="Marks-regno-<%%VALUE(id)%%>" class="Marks-regno"><%%VALUE(regno)%%></td>
		<td id="Marks-year-<%%VALUE(id)%%>" class="Marks-year"><%%VALUE(year)%%></td>
		<td id="Marks-marks-<%%VALUE(id)%%>" class="Marks-marks text-right"><%%VALUE(marks)%%></td>
		<td id="Marks-grade-<%%VALUE(id)%%>" class="Marks-grade"><%%VALUE(grade)%%></td>
		<td id="Marks-academicyear-<%%VALUE(id)%%>" class="Marks-academicyear"><%%VALUE(academicyear)%%></td>
		<td id="Marks-semester-<%%VALUE(id)%%>" class="Marks-semester"><%%VALUE(semester)%%></td>
		<td id="Marks-date-<%%VALUE(id)%%>" class="Marks-date"><%%VALUE(date)%%></td>
